<template>
  <!-- the cols in this div change the number of cards per row depending on screen size and the mb-4 adds space below cards if they spill over into the next row-->
  <div class="col-12 col-md-6 col-lg-4 mb-4">
    <div class="card">
      <router-link :to="{name:'detail',params:{feedId: feed.id, feed:feed, listFeed:listFeed}}">
        <img class="card-img-top" :src="feed.url_image" alt="Card image cap" />
      </router-link>
      <div class="card-body">
        <p class="card-text">{{feed.description}}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    feed: {
      type: Object,
    },
    listFeed: {
      type: Object,
    },
  },
};
</script>

<style lang="css">
.card-img-top {
  cursor: pointer;
}
</style>
