<template>
  <div>
    <h1>Detail Feed</h1>
    <h4>Feed ID: {{$route.params.feed.id}}</h4>

    <h4>
      Author:
      <router-link
        :to="{name:'feed_author',params:{authorId: $route.params.feed.author, title:'Feed of Author',listFeed:listFeed }}"
      >{{$route.params.feed.author}}</router-link>
    </h4>

    <h4>Title: {{$route.params.feed.title}}</h4>
    <h4>Description: {{$route.params.feed.description}}</h4>
    <hr />
    <div class="container">
      <img :src="$route.params.feed.url_image" class="mx-auto d-block" style="width:100%" />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: {
    listFeed: {
      type: Object,
    },
  },
};
</script>

<style lang="css">
</style>
