<template>
  <div class="pb-5">
    <h1>{{ title }}</h1>
    <div class="row">
      <CardHome
        v-for="feed in listFeed"
        :listFeed="listFeed"
        :feed="feed"
        :key="feed.id"
      />
    </div>

    <div class="container">
      <paginate
        :page-count="pageCount"
        :click-handler="clickCallback"
        :prev-text="'Prev'"
        :next-text="'Next'"
        :container-class="'pagination'"
        :page-class="'page-item'"
      ></paginate>
    </div>
  </div>
</template>

<script>
import CardHome from "./home/CardHome";

export default {
  data() {
    return {
      title: "",
      listFeed: [],
      itemOnPage: 12,
      listFeedPage: [],
      listFeedFilter: [],
      pageCount: 0,
    };
  },

  components: {
    CardHome,
  },

  created() {
    this.UpdateListFeed();
  },

  methods: {
    UpdateListFeed() {
      if (this.$route.params.authorId) {
        this.title = this.$route.params.title;
        this.listFeed = [...this.$route.params.listFeed].filter(
          (f) => f.author == this.$route.params.authorId
        );
      } else {
        this.title = "Home Feed";
        this.listFeed = [
          {
            id: 1,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/beautiful-woman-picture-id927570754?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 2,
            title: "q1",
            author: "chellam11",
            url_image:
              "https://media.gettyimages.com/photos/fashion-pretty-cool-girl-drinks-from-cup-over-pink-background-picture-id821880524?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 3,
            title: "q1",
            author: "chellam222",
            url_image:
              "https://media.gettyimages.com/photos/portrait-teenager-picture-id846730696?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 4,
            title: "q1",
            author: "chellam23423",
            url_image:
              "https://media.gettyimages.com/photos/portrait-of-a-fresh-and-lovely-women-picture-id578826762?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 5,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/happy-girlfriends-picture-id619531868?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 6,
            title: "q1",
            author: "chellam22",
            url_image:
              "https://media.gettyimages.com/photos/young-multiethnic-hipster-women-celebrating-with-confetti-in-the-city-picture-id699427744?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 7,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/teenage-girl-listening-to-the-music-and-shaking-head-picture-id545098584?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 8,
            title: "q1",
            author: "chellam324234",
            url_image:
              "https://media.gettyimages.com/photos/group-of-crazy-girls-taking-selfie-and-making-faces-outdoors-picture-id852200862?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 9,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/daydreaming-and-enjoying-the-sunlight-picture-id533976746?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 10,
            title: "q1",
            author: "chellam22",
            url_image:
              "https://media.gettyimages.com/photos/beautiful-woman-picture-id927570754?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 11,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/fashion-pretty-cool-girl-drinks-from-cup-over-pink-background-picture-id821880524?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 12,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/portrait-teenager-picture-id846730696?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 13,
            title: "q1",
            author: "chellam3",
            url_image:
              "https://media.gettyimages.com/photos/portrait-of-a-fresh-and-lovely-women-picture-id578826762?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 14,
            title: "q1",
            author: "chellam4",
            url_image:
              "https://media.gettyimages.com/photos/happy-girlfriends-picture-id619531868?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 15,
            title: "q1",
            author: "chellam3445",
            url_image:
              "https://media.gettyimages.com/photos/young-multiethnic-hipster-women-celebrating-with-confetti-in-the-city-picture-id699427744?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 16,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/teenage-girl-listening-to-the-music-and-shaking-head-picture-id545098584?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 17,
            title: "q1",
            author: "chellam24",
            url_image:
              "https://media.gettyimages.com/photos/group-of-crazy-girls-taking-selfie-and-making-faces-outdoors-picture-id852200862?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 18,
            title: "q1",
            author: "chellam234",
            url_image:
              "https://media.gettyimages.com/photos/daydreaming-and-enjoying-the-sunlight-picture-id533976746?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 19,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/beautiful-woman-picture-id927570754?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 20,
            title: "q1",
            author: "chellam4534",
            url_image:
              "https://media.gettyimages.com/photos/fashion-pretty-cool-girl-drinks-from-cup-over-pink-background-picture-id821880524?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 21,
            title: "q1",
            author: "chellam1",
            url_image:
              "https://media.gettyimages.com/photos/portrait-teenager-picture-id846730696?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 22,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/portrait-of-a-fresh-and-lovely-women-picture-id578826762?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 23,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/happy-girlfriends-picture-id619531868?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 24,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/young-multiethnic-hipster-women-celebrating-with-confetti-in-the-city-picture-id699427744?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 25,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/teenage-girl-listening-to-the-music-and-shaking-head-picture-id545098584?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 26,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/group-of-crazy-girls-taking-selfie-and-making-faces-outdoors-picture-id852200862?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 27,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/daydreaming-and-enjoying-the-sunlight-picture-id533976746?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 28,
            title: "q1",
            author: "chellam34",
            url_image:
              "https://media.gettyimages.com/photos/fashion-pretty-cool-girl-drinks-from-cup-over-pink-background-picture-id821880524?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 29,
            title: "q1",
            author: "chellam6",
            url_image:
              "https://media.gettyimages.com/photos/portrait-teenager-picture-id846730696?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 30,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/portrait-of-a-fresh-and-lovely-women-picture-id578826762?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 31,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/happy-girlfriends-picture-id619531868?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 32,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/young-multiethnic-hipster-women-celebrating-with-confetti-in-the-city-picture-id699427744?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 33,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/teenage-girl-listening-to-the-music-and-shaking-head-picture-id545098584?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 34,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/group-of-crazy-girls-taking-selfie-and-making-faces-outdoors-picture-id852200862?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 35,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/daydreaming-and-enjoying-the-sunlight-picture-id533976746?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 36,
            title: "q1",
            author: "chellam23",
            url_image:
              "https://media.gettyimages.com/photos/beautiful-woman-picture-id927570754?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 37,
            title: "q1",
            author: "chellam6",
            url_image:
              "https://media.gettyimages.com/photos/fashion-pretty-cool-girl-drinks-from-cup-over-pink-background-picture-id821880524?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 38,
            title: "q1",
            author: "chellam6",
            url_image:
              "https://media.gettyimages.com/photos/portrait-teenager-picture-id846730696?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 39,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/portrait-of-a-fresh-and-lovely-women-picture-id578826762?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 40,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/happy-girlfriends-picture-id619531868?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 41,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/young-multiethnic-hipster-women-celebrating-with-confetti-in-the-city-picture-id699427744?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 42,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/teenage-girl-listening-to-the-music-and-shaking-head-picture-id545098584?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 43,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/group-of-crazy-girls-taking-selfie-and-making-faces-outdoors-picture-id852200862?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 44,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/daydreaming-and-enjoying-the-sunlight-picture-id533976746?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 45,
            title: "q1",
            author: "chellam23",
            url_image:
              "https://media.gettyimages.com/photos/beautiful-woman-picture-id927570754?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 46,
            title: "q1",
            author: "chellam234",
            url_image:
              "https://media.gettyimages.com/photos/fashion-pretty-cool-girl-drinks-from-cup-over-pink-background-picture-id821880524?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 47,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/portrait-teenager-picture-id846730696?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 48,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/portrait-of-a-fresh-and-lovely-women-picture-id578826762?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 49,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/happy-girlfriends-picture-id619531868?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 50,
            title: "q1",
            author: "chellam555",
            url_image:
              "https://media.gettyimages.com/photos/young-multiethnic-hipster-women-celebrating-with-confetti-in-the-city-picture-id699427744?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 51,
            title: "q1",
            author: "chellam2",
            url_image:
              "https://media.gettyimages.com/photos/teenage-girl-listening-to-the-music-and-shaking-head-picture-id545098584?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 52,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/group-of-crazy-girls-taking-selfie-and-making-faces-outdoors-picture-id852200862?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 53,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/daydreaming-and-enjoying-the-sunlight-picture-id533976746?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 54,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/beautiful-woman-picture-id927570754?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 55,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/fashion-pretty-cool-girl-drinks-from-cup-over-pink-background-picture-id821880524?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 56,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/portrait-teenager-picture-id846730696?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 57,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/portrait-of-a-fresh-and-lovely-women-picture-id578826762?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 58,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/happy-girlfriends-picture-id619531868?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 59,
            title: "q1",
            author: "chellam2323",
            url_image:
              "https://media.gettyimages.com/photos/young-multiethnic-hipster-women-celebrating-with-confetti-in-the-city-picture-id699427744?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 60,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/teenage-girl-listening-to-the-music-and-shaking-head-picture-id545098584?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 61,
            title: "q1",
            author: "chellam",
            url_image:
              "https://media.gettyimages.com/photos/group-of-crazy-girls-taking-selfie-and-making-faces-outdoors-picture-id852200862?s=2048x2048",
            description: "Some quick example text to build",
          },
          {
            id: 62,
            title: "q1",
            author: "chellam232",
            url_image:
              "https://media.gettyimages.com/photos/daydreaming-and-enjoying-the-sunlight-picture-id533976746?s=2048x2048",
            description: "Some quick example text to build",
          },
        ];

        this.listFeedFilter = [...this.listFeed];
        this.pageCount = Math.ceil(
          this.listFeedFilter.length / this.itemOnPage
        );
        this.listFeedPage = [...this.listFeedFilter].splice(0, this.itemOnPage);
      }
    },
    clickCallback(pageNum) {
      console.log("pageNum");
      pageNum = pageNum - 1;
      this.listFeedPage = [...this.listFeedFilter].splice(
        pageNum * this.itemOnPage,
        this.itemOnPage
      );
    },
  },
};
</script>

<style lang="css">
/* Prevent image stretching is it's resized */
.card-img-top {
  object-fit: cover;
}

/* Make all cards in row the same height */
.row {
  display: flex;
  flex-wrap: wrap;
}

.row > div[class*="col-"] {
  display: flex;
}

/* Hover effects */
.card {
  transition: -webkit-transform 0.3s ease;
}
.card:hover {
  transform: scale(1.01, 1.01);
}

/* Responsive design for image heights */
@media (min-width: 576px) {
  .card-img-top {
    height: 50vw;
  }
}

@media (min-width: 768px) {
  .card-img-top {
    height: 30vw;
  }
}

@media (min-width: 992px) {
  .card-img-top {
    height: 20vw;
  }
}

@media (min-width: 1200px) {
  .card-img-top {
    height: 20vw;
  }
}

/* pagination style */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.page-item > .active {
  color: #ffffff;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
</style>
