<template>
  <section class="py-5">
    <div class="container pb-5">
      <router-view></router-view>
    </div>
  </section>
</template>

<script>
export default {
  components: {},
};
</script>

<style lang="css"></style>
