<template>
  <footer class="page-footer font-small teal pt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      © 2020 Copyright:
      <a href="https://GOOGLE.COM.com/"> GODGROUP-DEV</a>
    </div>
    <!-- Copyright -->
  </footer>
</template>

<script>
export default {};
</script>

<style lang="css">
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(209, 209, 209);
  color: rgb(19, 1, 1);
  text-align: center;
}
</style>
